# Primera mente hacemos el codigo para almacenar en una lista los numeros que el usuario nos muestre

lista=[]
valor=int(input("Ingresar valor :"))
while valor!=-1:
    lista.append(valor)
    valor=int(input("Ingresar valor (-1 para acabar):"))
# hacemos el codigo de la media 
def media (resultado):
  return sum(resultado)/len(resultado)

  
#hacemos el codigo de la mediana
def mediana (resultado):
  x = sorted(resultado)
  y = len(x) // 2
  
  if len(resultado) % 2 > 0:
     return x[y]

  return (x[y - 1] + x[y]) / 2
  

#hacemos el codigo de la maoda 
def moda(resultado): 
  return print(max(set(resultado),key=resultado.count))

print("Este programa contiene las funciones de la media, mediana y moda, para activarlas ponga el formato: moda(lista), y asi con las que guste")
